html {
    background-color: #F5F5F0;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1; /* Apparently to stay on top */
    top: 0;     /* Stay at top */
    left: 0;
    background-color: #454744;
    padding-top: 20px;
}

.inner-sidebar {
    height: 100%;
    width: 230px;
    position: relative;
}

.inner-sidebar h1 {
    padding: 6px 8px 0px 16px;
    font-size: 25px;
    font: serif;
    color: #F5F5F0;
}

.searchbar {
    padding: 0px 8px 6px 16px;
}

.searchbar input[type=text] {
    border: 2px solid #949991;
    border-radius: 3px;
    background-color: #454744;
}

.links {
    padding-top: 30px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    font-size: 25px;
    color: #949991;
    display: block;
    font: serif;
    text-decoration: none;
}

.sidebar a:hover {
    color: #F5F5F0;
}

.copywrite {
    color: #949991;
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 32px;
}

/* Main */

.main {
    margin-left: 230px;
    padding: 0px 10px;
}